# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
certifi
cffi
cudatoolkit
cython
intel-openmp
libprotobuf
mkl
ninja
numpy
pip
protobuf
pycparser
python=3.6.10
setuptools
tqdm
wheel
zlib
